            <article class="hero">
                <h2>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, ipsum. Eos obcaecati eum, laborum quam corrupti excepturi laboriosam repudiandae sint fugiat. Aut eos cumque consectetur repellendus nisi. Natus, eaque eveniet?
                </h2>
                <h3>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ex odio eveniet aut dolores nulla eum quis, ad voluptatum excepturi laudantium reprehenderit nisi aliquam amet ab tempora repellendus quos saepe!
                </h3>
            </article>
