<body>
    <div class="container">
        <main class="left">
            {{> header }}
            <article class="hero">
                <h2>
                    Welcome to my Tech focused blog. Feel free to join me on my journey into the Stack.
                </h2>
                <h3>
                    Come in and stay awhile! We have a whole infinite internet to build and there are no bad ideas, only
                    unpolished ones.
                </h3>
            </article>
        </main>
        {{> posts }}
    </div>
    <script src="./js/logout.js"></script>
</body>