            <div class="form-container">
                <form action="login" method="post">
                    <label for="email">Enter Your Email</label>
                    <input type="text" name="email" id="email">
                    <label for="password">Enter Your Password</label>
                    <input type="text" name="password" id="password">
                </form>
                <form action="signup" method="post">
                    <label for="username">Create a Username</label>
                    <input type="text" name="username" id="username">
                    <label for="email">Signup With Email</label>
                    <input type="text" name="signupemail" id="email">
                    <label for="password">Create A Password</label>
                    <input type="text" name="signuppassword" id="password">
                </form>
            </div>
