<body>
    <div class="container">
        <main class="left">
{{> header }}
            <div class="form-container">
                <form class="login-form" action="login" method="post">
                    <label for="email">Enter Your Email</label>
                    <input type="text" name="email" id="email">
                    <label for="password">Enter Your Password</label>
                    <input type="text" name="password" id="password">
                    <button id='loginButton' class="no-button" type="submit">Login</button>
                </form>
            </div>
            </main>
            <script src="./js/login.js"></script>
{{> posts }}
    </div>
</body>

