<body>
  <div class="container">

  <main class="hero-post">
    {{> header }}


<article class="post-page-box">
<div class="posts" data-num="1">

  <h2>{{title}}</h2>
  <h2>{{content}}</h2>
  <h2>Created by {{user.name}} on {{format_date date_created}}</h2>
</div>

</article>

  </main>
  </div>
</body>
