<body>
  <div class="container">
    <main class="left">
{{>header}}
<div class="form-container profile-form">
    <form class="form new-project-form">
    {{!-- <h3>Create a New Post:</h3> --}}
        <label for="project-name">Title:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />


        <label for="project-desc">What's on your mind?</label>
        <textarea class="form-input" id="project-desc" name="project-desc" autocomplete="off"></textarea>

        <button type="submit" class="no-button">Create</button>
    </form>
</div>
  </main>
  <main class="right">
    <ul class="post-container">
      <li class="posts" data-num="1">hello world</li>
    </ul>
  </main>

<script src="./js/profile.js"></script>
<script src="./js/logout.js"></script>
  </div>
</body>
