<body>
    <div class="container">
        <main class="left">
{{> header }}
                <form class="signup-form" action="signup" method="post">
                    <label for="username">Create a Username</label>
                    <input type="text" name="username" id="username">
                    <label for="email">Signup With Email</label>
                    <input type="text" name="signupemail" id="email">
                    <label for="password">Create A Password</label>
                    <input type="text" name="signuppassword" id="password">
                </form>
        </main>
        <script src="./js/login.js"></script>
{{> posts }}
    </div>
</body>
