
:root {
  --main-bg-color: #090008;
  --main-text-color: #6bd425;
  --alt-text-color: #618b25;
  --alt-color: #040104;
  --alt-bg-color: #0e0009;
}

body{
  font-family: 'VT323', monospace;
  font-size: large;
  background-color: var(--main-bg-color);
  color: var(--alt-text-color);
}
header {
  background-color: var(--alt-bg-color);
  color: var(--main-text-color);
}
p{
  font-size: larger;
}
 a{
  font-size: xx-large;
  color: var(--main-text-color);
  text-decoration: none;
 }
 A:hover {
  text-shadow: 1px 1px 2px pink;
  text-decoration: none;
  color: var(--main-text-color);
 }

header, .project:not(:last-child) {
  border-bottom: 1px solid var(--main-text-color);
}

.btn.btn-danger {
  background-color: var(--alt-color);
  border-color: var(--alt-text-color);
  color: var(--alt-text-color);
}
 .no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: var(--main-text-color);
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: var(--alt-text-color);
}

